<%= simple_form_for([@software, @software_assign]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :software %>
  </div>

  <div class="form-inputs">
    <%= f.association :product, label_method: "#{:product_name}" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Assign Software", class: 'btn btn-warning' %>
  </div>
  <br>
<% end %>
