<div class="container">
  <div class="well">
  <h1>Software Assigns:</h1><hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Software Title:</th>
              <th>Product Name</th>
            </tr>
          </thead>

          <tbody>
            <% @software_assign.each do |s| %>
              <tr>
                <td><%= s.software.title %></td>
                <td><%= s.product.product_name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <hr>
        <%= link_to 'Assign Software', new_software_software_assign_path, class: 'btn btn-primary' %>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- well -->
</div> <!-- container -->







