<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Assign Software to Product</h1>
        <hr>

        <%= render 'form' %>

        <hr>
        <%= link_to 'Show All Associations', software_software_assigns_path, class: 'btn btn-primary' %>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- well -->
</div> <!-- container -->
