<div class="container">

  <h3><%= @user.name %></h3>
  <p>Email: <%= @user.email if @user.email %></p>
  <br>

  <% @registrations.each do |r| %>

    <div class="row">
      <div class="col-md-12">
      <hr>
      <strong><%= r.product[:product_name] %></strong>
      <%= image_tag attachment_url(r.product, :product_image, :fill, 100, 100, format: "png") %>

      <div class="product-serial">
        <strong>Product Serial:</strong> <%= r.serial_number %><br>
        <em>Registered:</em> <%= r.created_at.strftime("%b. %d, %Y") %>
        <br><br>
      </div>

      <% r.product.softwares.each do |s| %>
        <div class="well">
          <strong><%= s.title %></strong><br><br>

          <em>Serial(s):</em><br>
          <% @codes.each do |code| %>
            <% if code.software_id == s.id %>
              <%# code.software.title %>
              <em><% user_code = code.code %></em><br>
              <%= user_code  %>
            <% end %>
          <% end %>
          <br><br>
          <em>Download Links:</em><br>
          <% s.software_downloads.each do |download| %>
            <%= link_to "#{download.title}", download.url %><br>
          <% end %>
        </div>
      <% end %>
  <% end %>

</div> <!-- container -->









