<%= @product.product_name %>
<%= image_tag attachment_url(@product, :product_image, :fill, 100, 100, format: "png") %>


<%= simple_form_for([@product, @registration]) do |f| %>

  <div class="form-inputs">
    <%= f.input :serial_number %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>

  <br>
<% end %>





