<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <table class="table table-condensed">
          <thead>
            <tr>
              <th>User</th>
              <th>Product Name</th>
              <th>Serial Number</th>
            </tr>
          </thead>

          <tbody>
            <% @registrations.each do |r| %>
              <tr>
                <td><%= r.user.name %></td>
                <td><%= r.product.product_name %></td>
                <td><%= r.serial_number %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <hr>
        <%= link_to 'Back', products_path, class: 'btn btn-primary' %>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- well -->
</div> <!-- container -->

<% @product.softwares.each do |software| %>
  <% software.codes.each do |code| %>
    <% if code.user_id == nil && code.software_id = software %>
    <%# code.software.title %><br>
    <% user_code = code %>
    <% user_code.update(user: current_user, software: software) %>
    <% break %>
    <% end %>
  <% end %>
<% end %>


