<div class="container">
  <div class="well">

    <h1>Editing Code</h1>

    <%= render 'form' %>

    <%# link_to 'Show', @code %>
    <%= link_to 'Back', codes_path, class: 'btn btn-primary' %>

  </div> <!-- well -->
</div> <!-- container -->
