<div class="container">
  <div class="well">
  <p id="notice"><%= notice %></p>

    <h1>Listing Codes</h1>
    <%= link_to 'Upload Codes', new_code_path, class: 'btn btn-success' %>
    <br><br>

    <table class="table">
      <thead>
        <tr>
          <th>Software</th>
          <th>User</th>
          <th>Code</th>
          <!-- <th>In use</th> -->
        </tr>
      </thead>

      <tbody>
        <% @codes.each do |code| %>
          <tr>
            <td><%= code.software.title %></td>
            <% if code.user != nil %>
              <td><%= code.user.email %></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= code.code %></td>
            <td><%# code.in_use %></td>
            <td><%# link_to 'Show', code %></td>
            <td><%= link_to 'Edit', edit_code_path(code), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Destroy', code, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- well -->
</div> <!-- container -->


