<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Code Upload:</h1><br>
        <h4><em style="color: red;">Please use the following template for uploading codes</em></h4>
        <p>Codes must be added (in a single column) to the template (download below) underneath the first cell labeled 'code'</p>
        <%= link_to "Code Template", "../codes_template.csv", class: 'btn btn-success' %>
        <hr>

        <%= render 'form' %>

        <%= link_to 'View All Codes', codes_path, class: 'btn btn-primary' %>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- well -->
</div> <!-- container -->
