<div class="container">
  <div class="well">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Software:</strong>
      <%= @code.software.title %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @code.user.email %>
    </p>

    <p>
      <strong>Code:</strong>
      <%= @code.code %>
    </p>

    <p>
      <strong>In use:</strong>
      <%= @code.in_use %>
    </p>

    <%= link_to 'Edit', edit_code_path(@code) %> |
    <%= link_to 'Back', codes_path %>
  </div> <!-- well -->
</div> <!-- container -->
