<%= simple_form_for(@product_validator) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :product, label_method: "#{:product_name}"  %>
    <%= f.input :validator %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>
  <br>
<% end %>
