<div class="container">
  <div class="well">
    <p id="notice"><%= notice %></p>

    <h1>Listing Product Validators</h1>
      <%= link_to 'New Product validator', new_product_validator_path, class: 'btn btn-warning' %>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Validator</th>
        </tr>
      </thead>

      <tbody>
        <% @product_validators.each do |product_validator| %>
          <tr>
            <td><%= product_validator.product.product_name %></td>
            <td><%= product_validator.validator %></td>
            <td><%= link_to 'Show', product_validator, class: 'btn btn-success' %></td>
            <td><%= link_to 'Edit', edit_product_validator_path(product_validator), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Destroy', product_validator, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- well -->
</div> <!-- container -->
