<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>New Product Validator</h1>

        <%= render 'form' %>

        <%= link_to 'Back', product_validators_path, class: 'btn btn-primary' %>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- well -->
</div> <!-- container -->
