<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @product_validator.product %>
</p>

<p>
  <strong>Validator:</strong>
  <%= @product_validator.validator %>
</p>

<%= link_to 'Edit', edit_product_validator_path(@product_validator) %> |
<%= link_to 'Back', product_validators_path %>
