<%= simple_form_for(@software) do |f| %>
  <%= f.error_notification %>



  <br>
  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>

  <br>
<% end %>
