<div class="container">
  <div class="well">
    <h1>Editing Software</h1>

    <%= render 'form' %>

    <br>
    <hr>
    <%= link_to 'Back', softwares_path, class: 'btn btn-success' %>
  </div>
</div>


