<div class="container">
  <div class="well">

    <h1>Software Titles:</h1>
    <br>
    <%= link_to 'Create Software Title', new_software_path, class: 'btn btn-warning' %>
    <br><br>

    <table class="table">
      <thead>
        <tr>
          <th>Software ID</th>
          <th>Software Title</th>
        </tr>
      </thead>

      <tbody>
        <% @softwares.each do |software| %>
          <tr>
            <td><%= software.id %></td>
            <td><%= software.title %></td>

            <% if current_user.admin? %>
              <td><%= link_to 'Edit', edit_software_path(software), class: 'btn btn-primary' %></td>
              <td><%= link_to 'Destroy', software, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <td><%= link_to 'Assign to Product', new_software_software_assign_path(software), class: 'btn btn-success' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- well -->
</div> <!-- container -->
