<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <br>
  <div class="form-group">
    <%= f.label :upload_product_image %>
    <%= f.attachment_field :product_image %>
  </div>

  <br>
  <div class="form-group">
    <%= f.check_box :remove_product_image %>
    <%= f.label     :remove_product_image %>
  </div>

  <br>
  <div class="form-inputs">
    <%= f.input :product_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>

  <br>
<% end %>
