<div class="container">
  <div class="well">
    <h1>Editing Product</h1>

    <div class="product_edit_image_container">
      <%= image_tag attachment_url(@product, :product_image, :fill, 100, 100, format: "png") %>
    </div>

    <%= render 'form' %>

    <br>
    <hr>
    <%= link_to 'Show', @product, class: 'btn btn-primary' %>
    <%= link_to 'Back', products_path, class: 'btn btn-success' %>
  </div>
</div>


