<div class="container">
  <div class="well">

    <h1>Listing Products</h1>
    <br>
    <% if current_user.admin? %>
      <%= link_to 'New Product', new_product_path, class: 'btn btn-warning' %>
    <% end %>
    <br><br>

    <table class="table">
      <thead>
        <tr>
          <th>Image:</th>
          <th>Product Name:</th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= image_tag attachment_url(product, :product_image, :fill, 100, 100, format: "png") %></td>
            <td><%= product.product_name %></td>
            <td><%= link_to 'Register', new_product_registration_path(product), class: 'btn btn-warning' %></td>

            <% if current_user.admin? %>
              <td><%= link_to 'Show', product, class: 'btn btn-success' %></td>
              <td><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary' %></td>
              <td><%= link_to 'Destroy', product, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- well -->
</div> <!-- container -->
