<div class="container">
  <div class="well">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Product name:</strong>
      <%= @product.product_name %>
    </p>
    <div class="product_show_image_container">
      <%= image_tag attachment_url(@product, :product_image, :fill, 100, 100, format: "png") %>
    </div>

    <br><br>

    <h4>Associated Software:</h4>
    <hr>
    <ol>
      <% @product.softwares.each do |software| %>
        <li><%= software[:title] %></li>
      <% end %>
    </ol>


    <br>
    <hr>
    <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-primary' %> |
    <%= link_to 'Back', products_path, class: 'btn btn-success' %>
    <%= link_to 'Register', new_product_registration_path(@product), class: 'btn btn-warning' %>
  </div> <!-- well -->
</div> <!-- container -->


