
<%= simple_form_for(@software_download) do |f| %>

  <br>

    <%# f.collection_select(:software_id, @software, :id, :title) %>
    <%= f.association :software %>

  <br>
  <div class="form-inputs">
    <%= f.input :title %>
  </div>

  <br>
  <div class="form-inputs">
    <%= f.input :url %>
  </div>

  <br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-warning' %>
  </div>

  <br>
<% end %>



