<div class="container">
  <div class="well">

    <h1>Software Downloads Links:</h1>
    <br>
    <%= link_to 'Add Software Link', new_software_download_path, class: 'btn btn-warning' %>
    <br><br>

    <table class="table">
      <thead>
        <tr>
          <th>Software Title</th>
          <th>Software Url</th>
        </tr>
      </thead>

      <tbody>
        <% @software_downloads.each do |software| %>
          <tr>
            <td><%= software.title %></td>
            <td><%= software.url %></td>

            <% if current_user.admin? %>
              <td><%= link_to 'Edit', edit_software_download_path(software), class: 'btn btn-primary' %></td>
              <td><%= link_to 'Destroy', software_download_path(software), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div> <!-- well -->
</div> <!-- container -->
