<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <h1>New Software Link</h1>

        <%= render 'form' %>

        <br>
        <hr>
        <%= link_to 'Back', software_downloads_path, class: 'btn btn-primary' %>
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- well -->
</div> <!-- container -->


