<% if user_signed_in? %>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <li><%= link_to 'My Profile', user_path(current_user) %></li>
  <li><%= link_to 'Products', products_path %></li>

<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Software', softwares_path %></li>
    <li><%= link_to 'Software(CDN)', software_downloads_path %></li>
    <li><%= link_to 'Upload Codes', new_code_path %></li>
    <li><%= link_to 'Validators', product_validators_path %></li>
  <% end %>
<% end %>


